@mixin button($fontSize, $width, $weight) {
    background: $gradient;
    font-size: $fontSize;
    font-family: $poppins;
    font-weight: $weight;
    color: $white;
    padding: 5px;
    width: $width;
    text-align: center;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin title($size) {
    font-family: $poppins;
    font-size: $size;
    font-weight: $semiBold;
    color: $black;
    text-transform: capitalize;
}

@mixin overTitle($size, $ff, $fw: $regular) {
    font-family: $ff;
    font-weight: $fw;
    color: $purple;
    font-size: $size;
}