// Colors

$gradient: linear-gradient(to left, #6156F9, #1A129F);
$white: #fff;
$purple: #7E76F9;
$grey: #F6F7FB;
$blue: #1000FF;
$black: #42495B;
$blueText: #7A839E;
$lightPurple: #ECEAFE;

$boxShadow: 0 10px 20px rgba(126, 118, 249, 0.16);

//Typos

$poppins: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;
$lobster: 'Lobster', cursive;
$dosis: 'Dosis', sans-serif;

// Typos size

$bigTitle: 70px;
$title: 50px;
$subTitle: 40px;
$text: 16px;
$overTitle: 20px;

// Typos weight

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$bolder: 800;